:root {
  --black: #252424;
  --powder-blue-2: #bfd8d2;
  --cadet-blue: #82a3ac;
  --rosy-brown: #d1aca3;
  --snow: #faf1f0;
  --fon: #97f0ff;
  --sienna: #a0685a;
  --misty-rose: #e2cfc9;
  --teal: #006a71;
  --cadet-blue-2: #608b97;
  --dark-slate-grey: #416772;
  --snow-2: #f8f4f3;
  --rosy-brown-2: #b47c73;
  --dim-grey: #5f5f5f;
  --powder-blue: #a9c7c5;
  --maroon: #4f1706;
  --dark-goldenrod: #c6973b;
  --gainsboro: #dfe1e3;
  --red: #f30000;
  --navajo-white: #f3d496;
  --blue: #4a3aff;
  --medium-blue: #281ca5;
  --silver-2: #c0bebe;
  --blu: #92edff;
  --paragraph: 18px;
  --line-height: 1.4em;
  --silver: #a8b9be;
  --peru: #c57b46;
  --tan: #c8b399;
}
/** {*/
/*  -webkit-user-select: none;*/
/*  -khtml-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/
html, body, #app, .wrapper{
  min-height: 100vh;
}
.wrapper{
  color: var(--black);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-image: url(../images/main-fon.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.menu{
  width: 100%;
  max-width: 660px;
  background-color: #e1f6fc;
  border-radius: 50px 50px 20px 20px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 40px;
  position: relative;
  box-shadow: 11px 11px 30px #d1d9e6;
}
.header-menu{
  background-color: var(--fon);
  background-image: url("../images/hf.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 15px;
  box-shadow: inset 7px 7px 10px #fff, 2px 2px 3px #d1d9e6;
  border-radius: 30px;
}
.header-menu-img{
  width: 100%;
  max-width: 380px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.header-menu-title {
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-menu-title-text{
  color: #ebfbfe;
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}
.green-skew-fon{
  background: #016c74;
  transform: skew(-30deg) translateX(-50%);
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 55%;
  width: 100%;
  left: 50%;
}
.header-menu-text {
  color: #3e535a;
  text-align: center;
  text-shadow: 1px 1px 1px #fff, 3px 2px 3px rgba(0, 0, 0, .54);
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 200;
  line-height: 1.1em;
}
.menu-body{
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
}
.menu-grid{
  width: 100%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.menu-button{
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-height: 110px;
  max-width: none;
  background-color: #e1f0fc;
  border: none;
  outline: none;
  background-image: radial-gradient(circle, #fff, #e1f6fc 80%);
  border-radius: 10px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: inset 8px 8px 6px #fff, inset -8px -8px 5px -2px #d1d9e6, -6px -6px 9px -9px #fff, 3px 3px 8px -4px #d1d9e6;
  cursor: pointer;
}
.menu-button.btn_11, .menu-button.btn_12{
  background-image: radial-gradient(circle, #fff, #b0ecff 80%);
  height: 130px;
}
.menu-button.btn_13, .menu-button.btn_14{
  min-height: 60px;
}
.menu-button.btn_11:hover, .menu-button.btn_12:hover{
  background-image: radial-gradient(circle, #fff, #b0ecff 80%);
}
.menu-button:hover{
  background-color: #cbe4f8;
  background-image: radial-gradient(circle, #fff, #e1f6fc 80%);
  box-shadow: 7px 7px 10px #fff, -7px -7px 10px #d1d9e6, inset -7px -7px 13px #fff, inset 3px 3px 14px #d1d9e6;
}
.menu-button-img{
  width: 100%;
  max-width: 45px;
  color: var(--teal);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.menu-button-text{
  color: var(--teal);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.btn_0{grid-column: 1 / 4;grid-row: 1 / 2;}
.btn_1{grid-column: 4 / 7;grid-row: 1 / 2;}
.btn_2{grid-column: 1 / 3;grid-row: 2 / 3;}
.btn_3{grid-column: 3 / 5;grid-row: 2 / 3;}
.btn_4{grid-column: 5 / 7;grid-row: 2 / 3;}
.btn_5{grid-column: 1 / 3;grid-row: 3 / 4;}
.btn_6{grid-column: 3 / 5;grid-row: 3 / 4;}
.btn_7{grid-column: 5 / 7;grid-row: 3 / 4;}
.btn_8{grid-column: 1 / 3;grid-row: 4 / 5;}
.btn_9{grid-column: 3 / 5;grid-row: 4 / 5;}
.btn_10{grid-column: 5 / 7;grid-row: 4 / 5;}
.btn_11{grid-column: 1 / 4;grid-row: 5 / 6;}
.btn_12{grid-column: 4 / 7;grid-row: 5 / 6;}
.btn_13{grid-column: 1/ 4;grid-row: 6 / 7;}
.btn_14{grid-column: 4 / 7;grid-row: 6 / 7;}

.page{
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.inner-page{
  margin-top: 50px;
  background: #fff;
}
.ph{
  padding-left: 10px;
  padding-right: 10px;
}
.special-line{
  height: 21px;
  width: 100%;
  top: 0;
  position: fixed;
  background-image: url(../images/main-fon.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}

/*top-nav*/

.drop-menu{
  width: 100%;
  max-width: 550px;
  height: 50px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.top-nav{
  flex: 1;
  width: 100%;
  display: flex;
  background: #92edff;
  position: relative;
  z-index: 1;
  min-height: 50px;
  border-bottom: 1px solid #fff;
}
.left-top-nav{
  flex: 1;
  max-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-top-nav{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-top-nav{
  flex: 1;
  max-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-top-nav i{
  font-size: 30px;
  cursor: pointer;
  color: var(--teal);
}
.top-nav-back{
  height: 38px;
  width: 38px;
  cursor: pointer;
}
.top-nav-title-medium{
  max-width: 40%;
}
.drop-nav{
  width: 100%;
  position: relative;
  transform: translateY(-100%);
  background: rgba(255, 255, 255, .96);
  transition: .5s;
}
.drop-nav.drop{
  transform: translateY(0);
}
.nav-item {
  text-transform: uppercase;
  padding: 15px 20px;
  color: #222;
  cursor: pointer;
  font-size: 18px;
}
.nav-item:hover, .nav-item.active{
  background-color: #dcf3fc;
}

/*app-header*/
.app-header{
  min-height: 180px;
  background-color: #92edff;
  background-position: 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
  border-radius: 0 0 10px 10px;
  padding: 3% 5% 5%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.best_end_day .app-header-wrap-title{
  width: 70%;
}
.app-header-wrap-title{
  width: 60%;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
  padding: 2% 10px 2% 28px;
  position: relative;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2);
}
.app-header-title{
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.2em;
}
.app-header-title-mini{
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1em;
  margin-bottom: 8px;
}
.paragraph-18.paragraph-18-1lh{
  line-height: 1em;
}


/*instructions*/

.inner-page{
  width: 100%;
  max-width: 550px;
  box-shadow: 11px 11px 30px #d1d9e6;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*slider-carousel*/

.slider-carousel{
  width: 100%;
  background-color: #d7f9ff;
  display: flex;
  flex-direction: column;
}
.top-slider-carousel{
  position: relative;
  height: 200px;
  width: 100%;
  flex: 1;
  margin-bottom: 10px;
  perspective: 1100px;
  overflow: hidden;
}
.bottom-slider-carousel{
  display: flex;
  justify-content: space-between;
}
.left-bottom-slider-carousel,
.right-bottom-slider-carousel{
  width: 50px;
  height: 50px;
  background-color: var(--teal);
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.wrap-padding-slider{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.left-bottom-slider-carousel{
  background-image: url(../images/galochka.png);
}
.right-bottom-slider-carousel{
  background-image: url(../images/galochka2.png);
}
.center-bottom-slider-carousel{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot{
  cursor: pointer;
  background-color: rgba(255, 255, 255, .4);
  font-size: 18px;
  color: #192024;
  box-shadow: 0 0 3px rgba(51, 51, 51, .4);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}
.dot:hover, .dot.active{
  background: #fff;
  box-shadow: 0 0 3px rgba(51, 51, 51, .4) inset;
}
.slide-item{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transform-origin: bottom;
}
.slide-item, .top-slider-carousel{
  min-height: 290px;
}
.carousel-title{
  color: #006072;
  font-size: 30px;
  font-weight: 400;
}
.not-visible{
  visibility: hidden;
}
.paragraph-18{
  color: #192024;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
}
.instructions-row{
  width: 100%;
}
.instructions-img{
  flex: 1;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 150px;
  max-width: 182px;
}
.instructions-content{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.instructions-img img{
  width: 100%;
}
.carousel-row-title{
  color: var(--teal);
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 7px;
}
.instructions-img.ph{
  padding-left: 10px;
  padding-right: 10px;
}
.instructions-descriptions{
  width: 100%;
}
.instructions-descriptions-row{
  width: 100%;
  margin-bottom: 10px;
}
.instructions-descriptions-img{
  flex: 1;
  max-width: 81px;
  min-width: 40px;
}
.instructions-descriptions-img img{
  width: 100%;
}
.instructions-descriptions-title{
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}
.instructions-descriptions-item{
  width: 100%;
  margin-bottom: 20px;
}
.instructions-descriptions-title .carousel-row-title{
  margin-bottom: 0;
}

/*support*/

.support{
  width: 100%;
}
.inner-support{
  padding: 3% 3% 30px;
}
.blue-button{
  background-color: var(--blue);
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  max-width: 330px;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 2em;
  display: block;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, .2);
  padding: 9px 15px;
}
.blue-button:hover{
  box-shadow: inset 2px 4px 5px rgba(0, 0, 0, .2);
}
.tiles{
  width: 100%;
  padding: 10px 15px 25px 15px;
}
.tile-item-row{
  align-items: center;
  width: 100%;
}
.tile-item{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 200px;
  border-radius: 20px;
  background: radial-gradient(farthest-corner at 171px 20px, rgba(255,255,255,1) 0%, rgba(112,240,255,1) 100%);
  box-shadow: 0px 2px 6px 0px #0000008c;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: pointer;
  transition: .3s;
}
.tile-item:hover{
  transform: scale(1.02);
}
.tile-item-text{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 200px;
}
.tile-item-img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 200px;
  min-width: 120px;
}
.tile-item-img img{
  transition: .3s;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tile-item-title{
  font-size: 32px;
  color: black;
  line-height: 1.2em;
  text-transform: uppercase;
}
.tile-item-subtitle{
  font-size: 22px;
  color: black;
  line-height: 1.2em;
}


/*buttons-wrapper*/

.buttons-wrapper{
  width: 100%;
  padding: 10px 2%;
}
.list-button{
  background-color: #fff;
  border-bottom: 1px solid #eaecf0;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 10px;
}
.no-standart .top-list-button{
  background-color: #fff;
  background-image: none;
  padding-bottom: 2px;
  box-shadow: -6px -6px 9px -9px #92edff, 3px 3px 8px -4px #48aec2;
}
.top-list-button{
  cursor: pointer;
  min-height: 65px;
  background-color: #c7f5fd;
  background-image: linear-gradient(297deg, #dcf9ff, #ebfbff);
  border-radius: 10px;
  display: flex;
  position: relative;
  font-size: 18px;
  box-shadow: -6px -6px 9px -9px #92edff, 3px 3px 8px -4px #92edff;
  padding-right: 10px;
}
.bottom-list-button{

}
.no-standart .left-button{
  max-width: 80px;
  padding: 5px;
  background-color: transparent;
}
.no-standart .left-button img{
  width: 100%;
  border-radius: 10px;
}
.left-button{
  flex: 1;
  max-width: 45px;
  min-width: 30px;
  background-color: var(--fon);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.center-button{
  padding: 6px 5px 6px 20px;
  flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.no-standart .center-button p{
  font-size: 22px;
}
.center-button p,
.no-standart .center-button p{
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
  width: 100%;
}
.right-button{
  flex: 1;
  max-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*cross*/

.cross{
  position: relative;
  width: 30px;
  height: 30px;
  transition: all .3s ease;
  border-radius: 50%;
  border: 2px solid #82a3ac;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cross-x, .cross-y{
  width: 12px;
  height: 2px;
  background-color: #82a3ac;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transition: all .3s ease-in-out;
  opacity: 1;
}
.cross-y{
  transform: rotate(90deg);
  left: 28%;
}
.active.top-list-button .cross{
  transform: rotate(90deg);
}
.active.top-list-button .cross .cross-x{
  opacity: 0;
}

.embed-bottom{
  padding: 4% 2% 3% 2%;
  border-radius: 20px;
}
.bottom-list-button .paragraph-18{
  margin-bottom: 12px;
}
blockquote {
  border-left: 5px solid #e2e2e2;
  margin: 0 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}
.block-quote{
  border-left-color: var(--blu);
  padding-left: 10px;
  padding-right: 0;
  font-size: 18px;
  line-height: 1.4em;
}
.list {
  list-style-type: square;
}
.list.ol{
  list-style-type: decimal;
}
.list-button:not(.no-standart) .embed-bottom:hover{
  background-color: #c5f5ff;
  box-shadow: inset 2px 2px 8px #64cee4;
  cursor: pointer;
}
.list-bottom-img{
  width: 130px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.list-bottom-footer{
  width: 100%;
  max-width: 500px;
  background-image: radial-gradient(circle, #fff, #92edfc);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.bottom-footer-side{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 125px;
  min-width: 50px;
}
.bottom-footer-center{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 150px;
}
.inner-side{
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #006a71;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  display: flex;
}
.inner-side img{
  width: 28px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  margin: 10px auto;
  display: block;
}
.bottom-footer-center .paragraph-20{
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 0;}

.media{
  width: 100%;
  max-width: 500px;
  background-color: #2488af;
  border-radius: 24px;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
}
.media-title-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
.media-header-side{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 30px;
  max-width: 70px;
}
.media-header-center{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 150px;
  display: flex;
  align-items: center;
}
.media-header{
  display: flex;
  margin-bottom: 20px;
}
.media-scene{
  background-color: #fff;
  border: 1px solid #0094ce;
  border-radius: 24px;
  margin-bottom: 20px;
  padding: 3% 5% 5%;
  box-shadow: 0 5px 6px 4px rgba(0, 0, 0, .2);
}
.img-box{
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.img-box-main-img{
  width: 100%;
}
.img-box-save{
  width: 40px;
  height: 40px;
  background-color: #fff;
  background-image: url("../images/_35.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 24px;
  border: 1px solid #2288af;
  border-radius: 50px;
  position: absolute;
  top: 77%;
  left: auto;
  right: -4%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.img-box-save:hover {
  background-color: #daf3fc;
}
.media-title{
  color: #192024;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 3%;
  font-size: 28px;
  font-weight: 400;
  line-height: 1em;
}
.recommendations{
  text-align: center;
  background-color: #daf3fc;
  border-radius: 50px;
  margin-bottom: 2%;
  padding-top: 3px;
  padding-bottom: 5px;
}
.dop-link-btn{
  width: 100%;
  max-width: 350px;
  text-align: center;
  background-color: red;
  background-image: linear-gradient(187deg, #a00000, red 43%, #a20000);
  border-bottom: 5px solid #8a0404;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .37);
  color: #fff;
  padding: 9px 15px;
  font-size: 20px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dop-link-btn:hover{
  box-shadow: none;
  background-image: linear-gradient(175deg, #a20000, red 56%, #a00000);
  border-bottom-color: #b30606;
}
.under-text{
  color: #fff;
  text-align: center;
  line-height: 1.4em;
  font-size: 20px;
}

/*player*/

.controller{
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffffbb;
  height: 80px;
  width: 80px;
}
.controller i{
  font-size: 90px;
}
.controller:hover .controller-item{
  transition: .2s;
  transform: scale(.95);
}
.scale-wrapper{
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.scale-text{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 40px;
  max-width: 60px;
  font-size: 16px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px #fff;
}
.scale-center{
  flex: 1;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-scale{
  position: relative;
  background-color: #000;
  width: 100%;
  cursor: pointer;
  box-shadow: inset 1px 3px 3px -3px rgb(199 218 244);
}
.inner-scale{
  position: relative;
  background-color: #c8dbf5;
  height: 15px;
  width: 33%;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2);
}
.fill-scale-info-block {
  position: absolute;
}
.scale-info-block {
  position: absolute;
  background: #08074b;
  border: 1px solid #d7dbdc;
  height: 18px;
  width: 40px;
  font-size: 12px;
  color: #d7dbdc;
  top: -25px;
  left: 0;
  z-index: 2;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scale-info-triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #d7dbdc;
  position: absolute;
  top: -11px;
  left: 15px;
}

/*video-wrapper*/

.video-wrapper{
  border-width: 5px;
  border-style: solid;
  border-color: #0d6c90 #2288af #095c7c;
  border-radius: 5px;
  position: relative;
}
.video-wrapper video{
  width: 100%;
  margin-bottom: -4px;
}
.video-controller{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
.fullscreen, .save-link-btn {
  top: 5px;
  right: 5px;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #96cfd8a3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen i, .save-link-btn i {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
.save-link-btn{
  top: 35px;
}

.video-controller .player-5-vue{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}
.video-controller .scale-wrapper{
  padding-left: 0;
  padding-right: 0;
}
.video-controller .controller{
  margin-bottom: 50px;
}
.video-controller .controller.flex{
  display: flex;
}
.video-controller .controller.nonne{
  display: none;
}

/*wrap-news-btns*/

.wrap-news-btns{
  padding: 10px 2%;
}
.news-btn{
  width: 100%;
  min-height: 90px;
  color: var(--black);
  background-color: #92edff;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 2% 3% 2% 5%;
  text-decoration: none;
  display: flex;
  position: relative;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, .22);
  cursor: pointer;
}
.news-btn:hover{
  box-shadow: none;
}
.news-btn-left{
  flex: 1;
  padding-left: 0;
  padding-right: 0;
  min-width: 250px;
  display: flex;
  align-items: center;
}
.news-btn-left p{
  font-size: 24px;
  line-height: 1.2em;
}
.news-btn-right{
  flex: 1;
  padding-left: 10px;
  padding-right: 0;
  min-width: 40px;
  max-width: 75px;
  display: flex;
  align-items: center;
}
.news-btn-right img{
  width: 100%;
  border-radius: 10px;
}

























